<div id="bodyFixed">
    <div class="grow pic">
        <a href=""><img src="../../../assets/products/reg.jpg" title="Cash Registers"></a>
    </div>
    <div class="grow pic">
        <a href=""><img src="../../../assets/products/etpos.PNG" title="POS Systems"></a>
    </div>
    <div class="grow pic">
        <a href=""><img src="../../../assets/products/slicer1.jpg" title="Slicers"></a>
    </div>
    <div class="grow pic">
        <a href=""><img src="../../../assets/products/phone1.PNG" title="Smartphones"></a>
    </div>
    <div class="grow pic">
        <a href=""><img src="../../../assets/products/scale.png" title="Retail Scales"></a>
    </div>
    <div class="grow pic">
        <a href=""><img src="../../../assets/products/sec1.PNG" title="Security Systems"></a>
    </div>
</div>
