#bodyFixed{
    position:relative;
    margin-top:85px;
    margin-right:auto;
    margin-left:auto;
    height:700px;
    width:1000px;
    border: 1px solid #404040; 
    color:white;
  }
  .pic {/*partners image animation - border*/
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 30px;
    border: 10px solid white;
    float: left;
  }.pic:hover {
    cursor: pointer;
  }	
  
  .grow img {/*partners image animation - growing when hover*/
    height: 250px;
    width: 250px;
   
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
  }.grow img:hover {
    width: 350px;
    height: 350px;
  }