<div class="container services">
	
    <div class="row row-padding">
        <img class="col-lg-3 col-md-6 col-sm-12" src="../../../assets/services/register.jpg"/>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <a name="equip"><h3 >Equipment Sales</h3></a>
            <p> We sell new / Used POS Systems, Cash registers, Scales and more
                at great prices. We have the following products available:<br>
                - POS systems complete with software and hardware<br>
                - Basic cash registers<br>
                - Cash registers that print the company name<br>
                - Scales trade approved<br>
                - POS Cash drawer<br>
            </p>				
           
        </div>
    </div>
    
    <div class="row row-padding">
        <img class="col-lg-3 col-md-6 col-sm-12" src="../../../assets/services/support.jpg"/>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <a name="tech"><h3 >Technical Support</h3></a>
            <p>The excellence of our technical services is our point of honour! In each solution we
            implement we assume a commitment of total satisfaction with our customers.
            For that we have a professional team, certified at the highest level by the several suppliers
            we represent, with the clear objective to leave you totally at ease.</p>
          
        </div>
    </div>		
    
    <div class="row row-padding">
        <img class="col-lg-3 col-md-6 col-sm-12" src="../../../assets/services/repair.jpg"/>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <a name="repair"><h3 >Repairs</h3></a>
            <p>We provide a professional repair solution in a cost effective manner with fast turn 
            around as we have the expertise and skills in house to repair the sub assemblies including
            the displays to component level. We have the ability to fix or replace the membranes on 
            the touch screen displays as well as the displays themselves and we can replace and re-align
            the lasers in the readers.</p>				
           
        </div>
    </div>			
    
    <div class="row row-padding">
        <img class="col-lg-3 col-md-6 col-sm-12" src="../../../assets/services/cons.jpg"/>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <a name="cons"><h3 >Consumables</h3></a>
            <p>We carry Thermal Rolls, Bond Paper Rolls, Scale Labels, Shelf/Product Labels, 
            Nutritional Labels and all Ink Ribbons/Cassettes for:<br>
            POS Systems<br>
            Cash Registers<br>
            Scales<br>
            Labelling Printers</p>				
         
        </div>
    </div>			
    
    <div class="row row-padding">
        <img class="col-lg-3 col-md-6 col-sm-12" src="../../../assets/services/sw.jpg"/>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <a name="sw"><h3 >Software Instalation</h3></a>
            <p>Every business has problems they wish to solve & we have the POS software that provides
            the solutions. From queue busting hand-held POS to Head Office inventory management, Regimatos
            has the range of POS software which allows your business to adapt and become more profitable 
            in the complex, competitive & ever changing business world.</p>				
       
        </div>
    </div>
</div>