<div class="padding">
    <div class="container content-bg">
        <div class='row'>
            <img class="col-sm-12 padding headerImg" [src]="getHeaderImage()" />
        </div>

        <div class='row'>
            <img class="col-lg-3 col-md-6 col-sm-12 padding" src='../../../assets/services/repair.jpg'/>
            <div class="col-lg-9 col-md-6 col-sm-12 padding">
                <h3>Add Content Later</h3>
                <p>description</p>
                <p>Would you like to get a quote?</p>
            </div>
        </div>
    </div>
</div>