<div class="container">
    <div class="row padding">
        <h3>ETPOS v4.30.2</h3>
        
        <img class="col-lg-3 col-md-6 col-sm-12" src="../../../assets/post1.jpg"/>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <p>
            Now available for download, in the usual channels, version 4.30.2 of ETPOS, which includes the following alterations:<br> 
            - New available language "Portuguese - Angola";<br> 
            - New available language "Portuguese - Brazil";<br> 
            - Optimization in the service ETMSG;<br> 
            - Possibility of reading the scales receipts in any terminal;<br> 
            - Added new configurations to the ETPED related to the price lines.<br> 
            </p>
        </div>
    </div>

    <div class="row padding"> 
        <h3>Setup Frutaria Beija Flor Viseu.</h3>

        <img class="col-lg-3 col-md-6 col-sm-12" src="../../../assets/post2.jpg"/>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <p>
            - POS Cubbe;<br>
            - Weight Scale CAS;<br>
            - Code bar scanner Godex;<br>
            - XPRINTER receipt printer;<br>
            - Metallic money drawer; <br>
            Vigilance Kit:<br>
            - 2 Vigilance Cameras<br>
            - 500H Recorder.<br>
            </p>
        </div>
    </div>

</div>