a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

.cardFormField {
    width: 100%;
    color: black;
}

.padding-content {
    padding: 30px 20px 40px 20px;
}

.white {
    background-color: white;
}

p {
    color: black;
}