@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
    
html, body {
    background-color: rgb(54, 52, 52);
    scroll-behavior: smooth;
    margin: 0 0;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background-color: rgb(13, 241, 13);
    color: black
 }

.padding {
    padding: 20px;
}