<div class="container">
    <div class="row">
        <img class="col-sm-12 padding" src="../../../assets/about.jpg" />
        <p class="padding">Regimatos Viseu Lda supplies and supports a range of Cash Registers, Retail Scales, Slicers,  
			Touch Screens and Point of Sale software which contribute to efficient management 
			of modern retail outlets.  We provide Electronic Point of Sale (EPOS) and cash Registers
			for a wide variety of businesses, including Grocery, Newsagents,  
			Butchers, Pubs, Restaurants and many more.</p>
			<p>Regimatos Viseu has partnered with a number of top companies to create a robust and
			powerful point of sale system. Hardware and software providers have integrated with Regimatos
			to benefit our customers.</p>
    </div>
</div>
